<div class="flex flex-col gap-4">
    <div
        class="relative overflow-hidden rounded-2xl bg-linear-to-br from-primary-600 to-indigo-700 text-white shadow-lg flex-none p-4 mb-6">
        <div class="absolute right-0 top-1/2 -translate-y-1/2 opacity-10 rotate-12">
            <i class="pi pi-user" style="font-size: 8rem"></i>
        </div>
        <div class="relative z-10 flex flex-col gap-2">
            <div class="flex items-center gap-4">
                <h1 class="text-3xl font-bold tracking-tight text-white! p-0! m-0!">Perfil</h1>
            </div>
            <p class="text-primary-100 text-lg ml-14 max-w-2xl">
                Configure seu perfil
            </p>
        </div>
    </div>
    <p-card header="Meu Perfil">
        <form (ngSubmit)="salvar()" [formGroup]="form" class="flex flex-col gap-4">

            <div class="flex flex-col gap-2">
                <label class="font-semibold" for="username">Usuário</label>
                <input
                    [readonly]="true"
                    [value]="profile?.username ?? ''"
                    id="username"
                    pInputText
                    type="text"
                />
            </div>

            <div class="flex flex-col gap-2">
                <label class="font-semibold" for="last_login">Últ. login</label>
                <input
                    [readonly]="true"
                    [value]="(profile?.last_login | date) ?? ''"
                    id="last_login"
                    pInputText
                    type="text"
                />
            </div>

            <hr />

            <div class="flex flex-col gap-2">
                <label class="font-semibold" for="name">Nome</label>
                <input formControlName="name" id="name" pInputText type="text" />
                @if (form.get('name')?.invalid && form.get('name')?.touched) {
                    <small class="text-red-500">O nome é obrigatório.</small>
                }
            </div>

            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label class="font-semibold" for="email">E-mail</label>
                    <input formControlName="email" id="email" pInputText type="email" />
                    @if (form.get('email')?.invalid && form.get('email')?.touched) {
                        <small class="text-red-500">Informe um e-mail válido.</small>
                    }
                </div>
                <div class="flex flex-col flex-none justify-end gap-2">
                    <p-button (onClick)="alterarSenha()" [outlined]="true" icon="pi pi-key" label="Alterar Minha Senha"
                              severity="secondary" />
                </div>
            </div>

            <div class="flex items-center mt-4">
                <p-button
                    [disabled]="form.invalid"
                    [loading]="saving()"
                    icon="pi pi-check"
                    label="Salvar Alterações"
                    severity="success"
                    type="submit"
                    class="grow"
                    [fluid]="true"
                />
            </div>
        </form>
    </p-card>
</div>
